* {
  box-sizing: border-box
}

html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
  font-family:'Helvetica';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica';
  color: #5c5b5b;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.btn {
  padding: .5rem 1rem;
  background: #000000;
  color: white;
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 1.08em;
  font-family: 'Helvetica';
}

.btn-big {
  padding: .7rem 1.3rem;
  line-height: 1.3rem;
}

.btn:hover {
  color: white !important;
  background:  rgb(57, 57, 57);
}

.text-input {
  padding: .7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-size: 1.2em;
  font-family: 'Helvetica';
}

.msg {
  width: 100%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 5px;
  list-style: none;
}

.success {
  color: #3a6e3a;
  border: 1px solid #3a6e3a;
  background: #bcf5bc;
}

.error {
  color: #884b4b;
  border: 1px solid #884b4b;
  background: #f5bcbc;
}

/* NAVBAR */

header {
  background: black;
  height: 66px;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 9px;
  font-family: 'Candal', serif;
}

header .logo-text span {
  color: whitesmoke;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
  z-index: 88888;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: white;
  color: #444;
}

header ul li ul li a.logout {
  color: red;
}

header ul li ul li a:hover {
  background: #d5d6d6;
}

header ul li a {
  display: block;
  padding: 22px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: rgb(64, 64, 64);
  transition: 0.8s;
}

header .menu-toggle {
  display: none;
}

.page-wrapper {
  min-height: 100%;
}

.page-wrapper a:hover {
  color: #006669;
}



/* CONTENT */

.content {
  width: 90%;
  margin: 30px auto 30px;
}

/* ADMIN LOGIN PAGE */
  
.auth-content {
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 20px;
}

.auth-content .form-title {
  text-align: center;
  font-family: 'Helvetica';
}

.auth-content form div {
  margin-bottom: 10px;
}

.auth-content form p {
  text-align: center;
}

.auth-content form p a:hover{
  text-decoration: hover;
  transition: 0.8s;
  font-weight: bolder;
  
}


